# Feature engineering

In [1]:
# import library
import pandas as pd
import numpy as np

In [2]:
big_game = pd.read_excel("C://Users//AMAN//Downloads//biggame.xlsx")

In [3]:
big_game

,Player Name,Player Jersey Number,Player Position,Player Age,Player Weight (lbs.),Years Played,"Player Birthplace (city, town, etc.)",Player Birth State,Player Birthplace (Combo),Player College,...,Full GEOID,Latitude (player birthplace),Longitude (player birthplace),Number from City,Number of Records,American FactFinder Link for more Census data points,Quickfacts Link,State Data Link,Source (Population States 2017),"Birthplace, Population Data Source"
0,Devin McCourty,#32,S/FS,30,195,8,Nanuet,New York,"Nanuet, New York",Rutgers,...,0400000US36,41.088707,-74.013473,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/N...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
1,Danny Amendola,#80,PR/WR/KR,32,190,9,The Woodlands,Texas,"The Woodlands, Texas",Texas Tech,...,0400000US48,30.173419,-95.504686,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/T...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
2,Johnson Bademosi,#29,CB/SPTM/RCB,27,206,6,Silver Spring,Maryland,"Silver Spring, Maryland",Stanford,...,0400000US24,38.990666,-77.026088,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/S...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
3,Chris Hogan,#15,WR,29,210,5,Wyckoff,New Jersey,"Wyckoff, New Jersey",Monmouth,...,0400000US34,41.009542,-74.172922,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/W...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
4,James Develin,#46,RB/FB,29,255,5,Gilbertsville,Pennsylvania,"Gilbertsville, Pennsylvania",Brown,...,0400000US42,40.320097,-75.610184,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/G...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,Nick Foles,#9,QB,28,243,6,Austin,Texas,"Austin, Texas",Arizona,...,0400000US48,30.271129,-97.743699,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/A...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
114,Will Beatty,#66,T/LOT,32,319,9,York,Pennsylvania,"York, Pennsylvania",Connecticut,...,0400000US42,39.962398,-76.727392,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/Y...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
115,Donnie Jones,#8,P/HLD,37,221,14,Baton Rouge,Louisiana,"Baton Rouge, Louisiana",LSU,...,0400000US22,30.450746,-91.154551,2,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/B...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
116,Kamu Grugier-Hill,#54,LB/SPTM/RLB,23,220,2,Honolulu,Hawaii,"Honolulu, Hawaii",Eastern Illinois,...,0400000US15,21.304547,-157.855676,2,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/H...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
117,Isaac Seumalo,#73,G/ROG,24,303,2,Honolulu,Hawaii,"Honolulu, Hawaii",Oregon State,...,0400000US15,21.304547,-157.855676,2,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/H...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."

In [4]:
big_game.head(5)

,Player Name,Player Jersey Number,Player Position,Player Age,Player Weight (lbs.),Years Played,"Player Birthplace (city, town, etc.)",Player Birth State,Player Birthplace (Combo),Player College,...,Full GEOID,Latitude (player birthplace),Longitude (player birthplace),Number from City,Number of Records,American FactFinder Link for more Census data points,Quickfacts Link,State Data Link,Source (Population States 2017),"Birthplace, Population Data Source"
0,Devin McCourty,#32,S/FS,30,195,8,Nanuet,New York,"Nanuet, New York",Rutgers,...,0400000US36,41.088707,-74.013473,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/N...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
1,Danny Amendola,#80,PR/WR/KR,32,190,9,The Woodlands,Texas,"The Woodlands, Texas",Texas Tech,...,0400000US48,30.173419,-95.504686,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/T...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
2,Johnson Bademosi,#29,CB/SPTM/RCB,27,206,6,Silver Spring,Maryland,"Silver Spring, Maryland",Stanford,...,0400000US24,38.990666,-77.026088,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/S...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
3,Chris Hogan,#15,WR,29,210,5,Wyckoff,New Jersey,"Wyckoff, New Jersey",Monmouth,...,0400000US34,41.009542,-74.172922,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/W...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
4,James Develin,#46,RB/FB,29,255,5,Gilbertsville,Pennsylvania,"Gilbertsville, Pennsylvania",Brown,...,0400000US42,40.320097,-75.610184,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/G...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."

In [5]:
big_game.tail(5)

,Player Name,Player Jersey Number,Player Position,Player Age,Player Weight (lbs.),Years Played,"Player Birthplace (city, town, etc.)",Player Birth State,Player Birthplace (Combo),Player College,...,Full GEOID,Latitude (player birthplace),Longitude (player birthplace),Number from City,Number of Records,American FactFinder Link for more Census data points,Quickfacts Link,State Data Link,Source (Population States 2017),"Birthplace, Population Data Source"
113,Nick Foles,#9,QB,28,243,6,Austin,Texas,"Austin, Texas",Arizona,...,0400000US48,30.271129,-97.743699,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/A...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
114,Will Beatty,#66,T/LOT,32,319,9,York,Pennsylvania,"York, Pennsylvania",Connecticut,...,0400000US42,39.962398,-76.727392,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/Y...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
115,Donnie Jones,#8,P/HLD,37,221,14,Baton Rouge,Louisiana,"Baton Rouge, Louisiana",LSU,...,0400000US22,30.450746,-91.154551,2,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/B...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
116,Kamu Grugier-Hill,#54,LB/SPTM/RLB,23,220,2,Honolulu,Hawaii,"Honolulu, Hawaii",Eastern Illinois,...,0400000US15,21.304547,-157.855676,2,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/H...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."
117,Isaac Seumalo,#73,G/ROG,24,303,2,Honolulu,Hawaii,"Honolulu, Hawaii",Oregon State,...,0400000US15,21.304547,-157.855676,2,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/H...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2016 Annual Estimates of t..."

In [6]:
big_game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 24 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Player Name                                               118 non-null    object
 1   Player Jersey Number                                      118 non-null    object
 2   Player Position                                           118 non-null    object
 3   Player Age                                                118 non-null    int64
 4   Player Weight (lbs.)                                      118 non-null    int64
 5   Years Played                                              118 non-null    object
 6   Player Birthplace (city, town, etc.)                      118 non-null    object
 7   Player Birth State                                        118 non-null    object
 8   Player Birthplace (Combo)                                 118 non-null    object
 9   Player College                                            118 non-null    object
 10  Player Team                                               118 non-null    object
 11  Conference                                                118 non-null    object
 12  2016 Population Estimates (except where otherwise noted)  118 non-null    object
 13  State GEO ID                                              118 non-null    int64
 14  Full GEOID                                                118 non-null    object
 15  Latitude (player birthplace)                              118 non-null    float64
 16  Longitude (player birthplace)                             118 non-null    float64
 17  Number from City                                          118 non-null    int64
 18  Number of Records                                         118 non-null    int64
 19  American FactFinder Link for more Census data points      118 non-null    object
 20  Quickfacts Link                                           118 non-null    object
 21  State Data Link                                           118 non-null    object
 22  Source (Population States 2017)                           118 non-null    object
 23  Birthplace, Population Data Source                        118 non-null    object
dtypes: float64(2), int64(5), object(17)
memory usage: 22.2+ KB

In [6]:
big_game["Player Age"].mean()

26.720338983050848

In [7]:
big_game["Player Weight (lbs.)"].mean()

243.88135593220338

In [8]:
big_game.describe()

,Player Age,Player Weight (lbs.),State GEO ID,Latitude (player birthplace),Longitude (player birthplace),Number from City,Number of Records
count,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.0
mean,26.720339,243.881356,28.330508,35.566567,-92.820792,1.152542,1.0
std,3.653556,45.959322,17.071521,7.449830,20.707252,0.426216,0.0
min,21.000000,167.000000,1.000000,-14.252294,-170.713450,1.000000,1.0
25%,24.000000,205.000000,12.000000,32.416135,-97.764743,1.000000,1.0
50%,26.000000,238.000000,31.000000,36.164258,-86.614908,1.000000,1.0
75%,29.000000,274.000000,40.500000,40.411295,-80.155949,1.000000,1.0
max,40.000000,350.000000,75.000000,51.507322,-0.127647,3.000000,1.0

# Form Age of player we can entersapt that

#### min age of player is 21 years

#### and max age of player is 40 years

#### avg age of a player is 26 years

#### 75% of player belong to age group between 24-29

# Form Player Weight (lbs.) of player we can entersapt that

#### min weight of player is 167 lbs

#### max wegiht of player is 350 lbs

#### avg weight of player is 243.88lbs

#### 75% of player have weight between 167-274 lbs

In [9]:
#  what are unique values in year player
big_game['Years Played'].unique()

array([8, 9, 6, 5, 4, 2, 3, 1, 10, 15, 12, 11, 'R', 7, 18, 13, 14],
      dtype=object)

## the most experianced player has 18 year of experiance and atleast one year experiance

In [10]:
big_game['Player Team'].describe(include=['O'])

count             118
unique              2
top       New England
freq               60
Name: Player Team, dtype: object

In [11]:
big_game['Player Team'].unique()

array(['New England', 'Philadelphia'], dtype=object)

## Two Teams from which player from New England', 'Philadelphia

In [12]:
# what are different playing position
big_game['Player Position'].unique()

array(['S/FS', 'PR/WR/KR', 'CB/SPTM/RCB', 'WR', 'RB/FB', 'T/ROT', 'S/SS',
       'CB/LCB', 'WR/PR', 'RB', 'RB/KR', 'LB/RLB', 'KR/WR', 'LB/RDE',
       'C/ROG', 'CB/RCB', 'K/KFG/KKO', 'DT/RDT', 'DE/RDE', 'S/FS/SPTM',
       'LB/MLB', 'P/HLD', 'QB', 'DT', 'LB/LS', 'C', 'LB/LLB', 'TE',
       'DT/LDE', 'DE', 'G/C', 'DE/LDE', 'DE/LDT', 'T/LOG', 'G/LOG',
       'T/LOT', 'DT/LDT', 'RB/SPTM', 'S/SS/SPTM', 'KR/RB', 'RB/KR/PR',
       'LB/LLB/SPTM', 'C/LOG', 'G/ROG', 'LB/SPTM/RLB'], dtype=object)

# We look into the  2017 population data of states

In [13]:
state=pd.read_excel("C://Users//AMAN//Downloads//All states Census 2017 Population Estimates.xlsx")

In [14]:
state.head()

,GEOID,GEOID2,Geography Name,"April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017
0,0400000US01,1,Alabama,4779736,4780135,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747
1,0400000US02,2,Alaska,710231,710249,714015,722259,730825,736760,736759,737979,741522,739795
2,0400000US04,4,Arizona,6392017,6392309,6407002,6465488,6544211,6616124,6706435,6802262,6908642,7016270
3,0400000US05,5,Arkansas,2915918,2916031,2921737,2938640,2949208,2956780,2964800,2975626,2988231,3004279
4,0400000US06,6,California,37253956,37254518,37327690,37672654,38019006,38347383,38701278,39032444,39296476,39536653

In [15]:
state.tail()

,GEOID,GEOID2,Geography Name,"April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017
47,0400000US53,53,Washington,6724540,6724545,6741386,6819155,6890899,6963410,7046931,7152818,7280934,7405743
48,0400000US54,54,West Virginia,1852994,1853006,1854315,1854891,1855360,1852333,1847624,1839767,1828637,1815857
49,0400000US55,55,Wisconsin,5686986,5687288,5690403,5705812,5721075,5736673,5751272,5759744,5772917,5795483
50,0400000US56,56,Wyoming,563626,563767,564376,567602,576608,582341,583334,586102,584910,579315
51,0400000US72,72,Puerto Rico,3725789,3726157,3721525,3678732,3634488,3593077,3534874,3473177,3406520,3337177

In [16]:
state.info

<bound method DataFrame.info of           GEOID  GEOID2        Geography Name  April 1, 2010 - Census  \
0   0400000US01       1               Alabama                 4779736
1   0400000US02       2                Alaska                  710231
2   0400000US04       4               Arizona                 6392017
3   0400000US05       5              Arkansas                 2915918
4   0400000US06       6            California                37253956
5   0400000US08       8              Colorado                 5029196
6   0400000US09       9           Connecticut                 3574097
7   0400000US10      10              Delaware                  897934
8   0400000US11      11  District of Columbia                  601723
9   0400000US12      12               Florida                18801310
10  0400000US13      13               Georgia                 9687653
11  0400000US15      15                Hawaii                 1360301
12  0400000US16      16                 Idaho                 1567582
13  0400000US17      17              Illinois                12830632
14  0400000US18      18               Indiana                 6483802
15  0400000US19      19                  Iowa                 3046355
16  0400000US20      20                Kansas                 2853118
17  0400000US21      21              Kentucky                 4339367
18  0400000US22      22             Louisiana                 4533372
19  0400000US23      23                 Maine                 1328361
20  0400000US24      24              Maryland                 5773552
21  0400000US25      25         Massachusetts                 6547629
22  0400000US26      26              Michigan                 9883640
23  0400000US27      27             Minnesota                 5303925
24  0400000US28      28           Mississippi                 2967297
25  0400000US29      29              Missouri                 5988927
26  0400000US30      30               Montana                  989415
27  0400000US31      31              Nebraska                 1826341
28  0400000US32      32                Nevada                 2700551
29  0400000US33      33         New Hampshire                 1316470
30  0400000US34      34            New Jersey                 8791894
31  0400000US35      35            New Mexico                 2059179
32  0400000US36      36              New York                19378102
33  0400000US37      37        North Carolina                 9535483
34  0400000US38      38          North Dakota                  672591
35  0400000US39      39                  Ohio                11536504
36  0400000US40      40              Oklahoma                 3751351
37  0400000US41      41                Oregon                 3831074
38  0400000US42      42          Pennsylvania                12702379
39  0400000US44      44          Rhode Island                 1052567
40  0400000US45      45        South Carolina                 4625364
41  0400000US46      46          South Dakota                  814180
42  0400000US47      47             Tennessee                 6346105
43  0400000US48      48                 Texas                25145561
44  0400000US49      49                  Utah                 2763885
45  0400000US50      50               Vermont                  625741
46  0400000US51      51              Virginia                 8001024
47  0400000US53      53            Washington                 6724540
48  0400000US54      54         West Virginia                 1852994
49  0400000US55      55             Wisconsin                 5686986
50  0400000US56      56               Wyoming                  563626
51  0400000US72      72           Puerto Rico                 3725789

    April 1, 2010 - Estimates Base  Population Estimate (as of July 1) - 2010  \
0                          4780135                                    4785579
1                           710249                                     714015
2                          6392309                                    6407002
3                          2916031                                    2921737
4                         37254518                                   37327690
5                          5029325                                    5048029
6                          3574114                                    3580171
7                           897936                                     899712
8                           601766                                     605040
9                         18804594                                   18846461
10                         9688690                                    9712696
11                         1360301                                    1363817
12                         1567650                                    1570912
13                        12831565                                   12841196
14                         6484125                                    6490029
15                         3046869                                    3050223
16                         2853130                                    2858403
17                         4339340                                    4347948
18                         4533478                                    4544871
19                         1328362                                    1327568
20                         5773807                                    5788099
21                         6547808                                    6564943
22                         9884129                                    9876731
23                         5303924                                    5310711
24                         2968103                                    2970437
25                         5988925                                    5995681
26                          989414                                     990507
27                         1826327                                    1829956
28                         2700691                                    2702797
29                         1316460                                    1316700
30                         8791953                                    8803708
31                         2059207                                    2064607
32                        19378110                                   19405185
33                         9535721                                    9574247
34                          672585                                     674518
35                        11536730                                   11539282
36                         3751598                                    3759529
37                         3831072                                    3837073
38                        12702857                                   12711063
39                         1052945                                    1053169
40                         4625381                                    4635834
41                          814197                                     816227
42                         6346295                                    6355882
43                        25146100                                   25241648
44                         2763889                                    2775260
45                          625741                                     625842
46                         8001043                                    8025206
47                         6724545                                    6741386
48                         1853006                                    1854315
49                         5687288                                    5690403
50                          563767                                     564376
51                         3726157                                    3721525

    Population Estimate (as of July 1) - 2011  \
0                                     4798649
1                                      722259
2                                     6465488
3                                     2938640
4                                    37672654
5                                     5116411
6                                     3591927
7                                      907884
8                                      620336
9                                    19097369
10                                    9810595
11                                    1378323
12                                    1583180
13                                   12862298
14                                    6515358
15                                    3063690
16                                    2868756
17                                    4368505
18                                    4574388
19                                    1327968
20                                    5843115
21                                    6612178
22                                    9876199
23                                    5345967
24                                    2977452
25                                    6010280
26                                     996866
27                                    1841641
28                                    2718170
29                                    1318345
30                                    8844694
31                                    2077744
32                                   19526372
33                                    9662940
34                                     684830
35                                   11543332
36                                    3785232
37                                    3865845
38                                   12742811
39                                    1052154
40                                    4672744
41                                     823338
42                                    6396281
43                                   25644424
44                                    2815430
45                                     626210
46                                    8107548
47                                    6819155
48                                    1854891
49                                    5705812
50                                     567602
51                                    3678732

    Population Estimate (as of July 1) - 2012  \
0                                     4813946
1                                      730825
2                                     6544211
3                                     2949208
4                                    38019006
5                                     5186330
6                                     3597705
7                                      916868
8                                      635630
9                                    19341327
10                                    9911171
11                                    1392772
12                                    1594673
13                                   12878494
14                                    6535665
15                                    3074386
16                                    2885316
17                                    4383673
18                                    4602681
19                                    1328101
20                                    5891680
21                                    6659627
22                                    9886610
23                                    5377695
24                                    2982963
25                                    6023267
26                                    1003522
27                                    1854862
28                                    2752410
29                                    1320923
30                                    8882095
31                                    2083590
32                                   19625409
33                                    9755299
34                                     701380
35                                   11546969
36                                    3815298
37                                    3893920
38                                   12768034
39                                    1052761
40                                    4719009
41                                     832576
42                                    6450632
43                                   26078327
44                                    2854222
45                                     625606
46                                    8188656
47                                    6890899
48                                    1855360
49                                    5721075
50                                     576608
51                                    3634488

    Population Estimate (as of July 1) - 2013  \
0                                     4827660
1                                      736760
2                                     6616124
3                                     2956780
4                                    38347383
5                                     5262556
6                                     3602470
7                                      925114
8                                      650114
9                                    19584927
10                                    9981773
11                                    1408038
12                                    1610187
13                                   12890403
14                                    6567484
15                                    3089876
16                                    2892900
17                                    4399121
18                                    4626795
19                                    1327975
20                                    5932654
21                                    6711138
22                                    9899219
23                                    5416074
24                                    2987721
25                                    6041142
26                                    1011921
27                                    1867414
28                                    2786547
29                                    1322622
30                                    8913735
31                                    2085161
32                                   19712514
33                                    9849812
34                                     722908
35                                   11567845
36                                    3849840
37                                    3919664
38                                   12778450
39                                    1052784
40                                    4765862
41                                     842513
42                                    6490795
43                                   26479279
44                                    2899961
45                                     626044
46                                    8261689
47                                    6963410
48                                    1852333
49                                    5736673
50                                     582341
51                                    3593077

    Population Estimate (as of July 1) - 2014  \
0                                     4840037
1                                      736759
2                                     6706435
3                                     2964800
4                                    38701278
5                                     5342311
6                                     3600188
7                                      934805
8                                      660797
9                                    19897747
10                                   10083850
11                                    1417710
12                                    1630391
13                                   12882438
14                                    6593182
15                                    3105563
16                                    2899553
17                                    4410415
18                                    4648797
19                                    1328903
20                                    5970245
21                                    6757925
22                                    9914675
23                                    5452649
24                                    2988578
25                                    6058014
26                                    1019931
27                                    1880920
28                                    2831730
29                                    1328684
30                                    8943010
31                                    2083207
32                                   19773580
33                                    9941160
34                                     738658
35                                   11593741
36                                    3875008
37                                    3960673
38                                   12790341
39                                    1054782
40                                    4824758
41                                     849455
42                                    6540007
43                                   26954436
44                                    2938671
45                                     625665
46                                    8316902
47                                    7046931
48                                    1847624
49                                    5751272
50                                     583334
51                                    3534874

    Population Estimate (as of July 1) - 2015  \
0                                     4850858
1                                      737979
2                                     6802262
3                                     2975626
4                                    39032444
5                                     5440445
6                                     3593862
7                                      944107
8                                      672736
9                                    20268567
10                                   10199533
11                                    1426320
12                                    1649324
13                                   12862051
14                                    6610596
15                                    3118473
16                                    2905789
17                                    4422057
18                                    4671211
19                                    1327787
20                                    6000561
21                                    6794002
22                                    9918170
23                                    5483238
24                                    2985297
25                                    6072640
26                                    1028317
27                                    1893564
28                                    2883057
29                                    1330134
30                                    8960001
31                                    2082264
32                                   19819347
33                                   10041769
34                                     754859
35                                   11606027
36                                    3904353
37                                    4016537
38                                   12791124
39                                    1055916
40                                    4892423
41                                     854036
42                                    6590726
43                                   27454880
44                                    2984917
45                                     624455
46                                    8366767
47                                    7152818
48                                    1839767

In [17]:
state.describe()

,GEOID2,"April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017
count,52.000000,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01
mean,29.788462,6.009064e+06,6.009313e+06,6.020384e+06,6.063904e+06,6.108226e+06,6.150530e+06,6.195335e+06,6.240635e+06,6.284855e+06,6.328007e+06
std,16.774557,6.764460e+06,6.764684e+06,6.779468e+06,6.848039e+06,6.917273e+06,6.982359e+06,7.056337e+06,7.131146e+06,7.197166e+06,7.257007e+06
min,1.000000,5.636260e+05,5.637670e+05,5.643760e+05,5.676020e+05,5.766080e+05,5.823410e+05,5.833340e+05,5.861020e+05,5.849100e+05,5.793150e+05
25%,16.750000,1.761651e+06,1.761658e+06,1.765195e+06,1.777026e+06,1.789815e+06,1.791796e+06,1.793316e+06,1.792156e+06,1.791484e+06,1.791128e+06
50%,29.500000,4.085220e+06,4.085206e+06,4.092510e+06,4.117175e+06,4.138796e+06,4.159392e+06,4.185544e+06,4.219297e+06,4.261051e+06,4.298482e+06
75%,42.500000,6.591857e+06,6.591992e+06,6.609054e+06,6.663922e+06,6.717445e+06,6.774206e+06,6.830176e+06,6.889901e+06,7.001715e+06,7.113638e+06
max,72.000000,3.725396e+07,3.725452e+07,3.732769e+07,3.767265e+07,3.801901e+07,3.834738e+07,3.870128e+07,3.903244e+07,3.929648e+07,3.953665e+07

In [18]:
state['Geography Name'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [19]:
state['GEOID2'].mean()

29.78846153846154

In [20]:
state['GEOID2'].max()

72

In [21]:
state['GEOID2'].median()

29.5

#  we look into the 2016 population data of cities

In [22]:
cities=pd.read_excel("C://Users//AMAN//Downloads//All Places Census 2016 Population Estimates.xlsx")

In [23]:
cities.head()

,Geographic ID,GEOID 2,"Geography, full name (City, State)","April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016
0,1620000US0100124,100124,"Abbeville city, Alabama",2688,2688,2683,2685,2647,2631,2619,2616,2603
1,1620000US0100460,100460,"Adamsville city, Alabama",4522,4522,4517,4495,4472,4447,4428,4395,4360
2,1620000US0100484,100484,"Addison town, Alabama",758,756,754,753,748,748,747,740,738
3,1620000US0100676,100676,"Akron town, Alabama",356,356,355,345,345,342,337,337,334
4,1620000US0100820,100820,"Alabaster city, Alabama",30352,31066,31176,31362,31663,31960,32167,32751,32948

In [24]:
cities.tail()

,Geographic ID,GEOID 2,"Geography, full name (City, State)","April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016
19505,1620000US5681300,5681300,"Wamsutter town, Wyoming",451,451,450,451,461,483,503,494,484
19506,1620000US5683040,5683040,"Wheatland town, Wyoming",3627,3627,3629,3625,3634,3625,3650,3658,3606
19507,1620000US5684925,5684925,"Worland city, Wyoming",5487,5487,5494,5448,5439,5441,5356,5376,5316
19508,1620000US5685015,5685015,"Wright town, Wyoming",1807,1807,1807,1809,1855,1850,1844,1866,1834
19509,1620000US5686665,5686665,"Yoder town, Wyoming",151,151,152,154,155,159,162,162,159

In [25]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19510 entries, 0 to 19509
Data columns (total 12 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Geographic ID                              19510 non-null  object
 1   GEOID 2                                    19510 non-null  int64
 2   Geography, full name (City, State)         19510 non-null  object
 3   April 1, 2010 - Census                     19510 non-null  object
 4   April 1, 2010 - Estimates Base             19510 non-null  int64
 5   Population Estimate (as of July 1) - 2010  19510 non-null  int64
 6   Population Estimate (as of July 1) - 2011  19510 non-null  int64
 7   Population Estimate (as of July 1) - 2012  19510 non-null  int64
 8   Population Estimate (as of July 1) - 2013  19510 non-null  int64
 9   Population Estimate (as of July 1) - 2014  19510 non-null  int64
 10  Population Estimate (as of July 1) - 2015  19510 non-null  int64
 11  Population Estimate (as of July 1) - 2016  19510 non-null  int64
dtypes: int64(9), object(3)
memory usage: 1.8+ MB

In [26]:
cities.describe()

,GEOID 2,"April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016
count,1.951000e+04,1.951000e+04,1.951000e+04,1.951000e+04,1.951000e+04,1.951000e+04,1.951000e+04,1.951000e+04,1.951000e+04
mean,3.008271e+06,9.909960e+03,9.930210e+03,1.001311e+04,1.009960e+04,1.018003e+04,1.026316e+04,1.034566e+04,1.042104e+04
std,1.461650e+06,8.012455e+04,8.028673e+04,8.113065e+04,8.195162e+04,8.265639e+04,8.329606e+04,8.389854e+04,8.432409e+04
min,1.001240e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.857141e+06,3.690000e+02,3.690000e+02,3.682500e+02,3.660000e+02,3.662500e+02,3.650000e+02,3.650000e+02,3.640000e+02
50%,2.940709e+06,1.147000e+03,1.148000e+03,1.148000e+03,1.147000e+03,1.146500e+03,1.145500e+03,1.146500e+03,1.149500e+03
75%,4.202612e+06,4.603250e+03,4.606000e+03,4.620000e+03,4.632500e+03,4.648000e+03,4.680000e+03,4.700500e+03,4.716500e+03
max,5.686665e+06,8.174962e+06,8.192026e+06,8.284098e+06,8.361179e+06,8.422460e+06,8.471990e+06,8.516502e+06,8.537673e+06

In [27]:
cities['GEOID 2'].mean()

3008271.2834443874

In [28]:
cities['GEOID 2'].median()

2940709.0

In [29]:
cities['GEOID 2'].max()

5686665

# END